

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title> Home </title>
</head>
<body>
    <div class="container" align= "center">
    
    	<br> <h3> Add Alien </h3>
    	
    	<form th:action="addAlien" method = 'POST'>
    	
    		<table>
    			<tr> 
    			   <td> Alien Id : </td>
    			   <td> <input type = 'text' name='id'></td>
    			</tr>
    			<tr> 
    			   <td> Name : </td>
    			   <td> <input type = 'text' name='name'> </td>
    			</tr>
    			<tr> 
    			   <td> <input type = 'submit' name='submit'> </td>
    			</tr>
    		</table>
    		
    	</form> 
    	
    	<h3 align="center"> <a href="/showAlien"> show saved aliens </a> </h3>
    	
    </div>
</body>
</html>

